@import "tailwindcss";

:root {
  /*  Core Typography & Layout */ 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  line-height: 1.5;
  font-weight: 400;

  /*  Color Scheme Setup */
  color-scheme: light dark;
  
  color: rgba(255, 255, 255, 0.87);

  /* Performance & Rendering Optimizations */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: lighter;  
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}